<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>role_move</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>role_move_0.png</string>
				<string>role_move_1.png</string>
				<string>role_move_1.png</string>
				<string>role_move_3.png</string>
			</array>
		</dict>
		<key>role_idle</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>role_idle_0.png</string>
			</array>
		</dict>
		<key>role_attack</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>role_attack_0.png</string>
				<string>role_attack_1.png</string>
				<string>role_attack_1.png</string>
				<string>role_attack_3.png</string>
			</array>
		</dict>
		<key>AI_0_move</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_0_move_0.png</string>
				<string>AI_0_move_1.png</string>
				<string>AI_0_move_2.png</string>
				<string>AI_0_move_3.png</string>
			</array>
		</dict>
		<key>AI_0_attack</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_0_attack_0.png</string>
				<string>AI_0_attack_1.png</string>
			</array>
		</dict>
		<key>AI_0_idle</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_0_idle_0.png</string>
			</array>
		</dict>
		<key>AI_0_dead</key>
		<dict>
			<key>delay</key>
			<real>0.0625</real>
			<key>frames</key>
			<array>
				<string>AI_0_dead_0.png</string>
				<string>AI_0_dead_1.png</string>
				<string>AI_0_dead_2.png</string>
				<string>AI_0_dead_3.png</string>
				<string>AI_0_dead_4.png</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
